* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Calibri Light", serif;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: white;
}

.logo {
    position: absolute;
    margin-left: 4%;

}

.header {
    width: 100%;
    height: 75px;
    display: block;
    background-color: #228c22;
}

.tov {
    text-align: center;
    font-size: xx-large;
    font-family: Calibri;

}

.inner_header {
    width: 1000px;
    height: 90%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Calibri Light", serif;
    font-size: 32px;
}

.logo_container h1 span {
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a:last-child {
    padding-right: 0;

}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Calibri Light", cursive;
    font-size: 16px;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ul {
    list-style-type: circle;
}
/*
.regelbox {
    border: 3px solid black;
    width: 50%;
    float: left;
}
 */
.header {
    font-size: xx-large;
    text-align: center;
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.submitbox {
    display: inline-block;
    float: left;
}

.bigbox {
    width: 100%;
    display: inline-block;
}

.infotext {
    margin-right: auto;
    width: 45%;
    text-align: left;
    height: 100%;
    float: left;
}

.infowrite {
    margin-left: 30%;
    width: 15%;
    height: 100%;
}

.top-box:after {
    margin-left: 100px;
    content: "";
    display: table;
    clear: both;
}

.box1 {
    margin-top: 20px;
    margin-left: 100px;
    position: center;
    float: left;
    height: 200px;
    width: 30%;
    padding: 15px;
    border-radius: 5%;
}

.box2 {
    margin-top: 20px;
    margin-right: 100px;
    position: center;
    float: right;
    height: 200px;
    width: 30%;
    padding: 15px;
    border-radius: 5%;
}

.box3 {
    float: left;
}

.img {
    height: auto;
    display: block;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}