* {
    box-sizing: border-box;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-nav {
    font-family: "Segoe UI Black";
    height: 50px;
    text-align: center;
    font-size: x-large;
    background-color: green;
}

.footer-nav {
    margin-top: auto;
    position: relative;
    width: 100%;
    background-color: red;
    color: white;
}

.top-box:after{
    margin-left: 50px;
    content: "";
    display: table;
    clear: both;
}
.box {
    position: center;
    float: left;
    height: 200px;
    width: 33.33%;
    padding: 15px;
}

.menubox {
    position: center;
    float: left;
    height: 50px;
    width: 16.6667%;
    padding: 5px;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ul {
    list-style-type: circle;
}

.regelbox {
    border: 3px solid black;
    width: 50%;
    float: left;
}

.header {
    font-size: xx-large;
    text-align: center;
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.submitbox {
    display: inline-block;
    float: left;
}

.bigbox {
    width: 100%;
    display: inline-block;
}

.infotext {
    margin-right: auto;
    border: 2px solid black;
    width: 25%;
    height: 100%;
    float: left;
}

.infowrite {
    margin-left: 30%;
    border: 2px solid black;
    width: 15%;
    height: 100%;
}

.top-box:after {
    margin-left: 100px;
    content: "";
    display: table;
    clear: both;
}

.box {
    margin-top: 20px;
    margin-left: 80px;
    position: center;
    float: left;
    height: 200px;
    width: 25%;
    padding: 15px;
    border-radius: 5%;
}