* {
    box-sizing: border-box;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-nav {
    font-family: "Segoe UI Black";
    height: 50px;
    text-align: center;
    font-size: x-large;
    background-color: green;
}

.footer-nav{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: blue;
    margin-top: auto}

.top-box:after{
    margin-left: 50px;
    content: "";
    display: table;
    clear: both;
}
.box {
    position: center;
    float: left;
    height: 200px;
    width: 33.33%;
    padding: 15px;
}

.menubox {
    position: center;
    float: left;
    height: 50px;
    width: 16.6667%;
    padding: 5px;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    padding: 10px;

}

.text {
    text-align: center;
    padding: 10%;
}

.aboxone {
    margin-right: 5%;
    float: right;
    height: 50px;
    padding: 5px;
}

.aboxtwo {
    position: center;
    float: left;
    height: 50px;
    width: 25%;
    margin-left: 10%;
}