* {
    box-sizing: border-box;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-nav {
    font-family: "Segoe UI Black";
    height: 50px;
    text-align: center;
    font-size: x-large;
    background-color: green;
    margin-bottom: 10px;
}

.footer-nav {
    position: relative;
    width: 100%;
    background-color: red;
    color: white;
}

.top-box:after{
margin-left: 100px;
    content: "";
    display: table;
    clear: both;
}
.box {
    margin-top: 20px;
    margin-left: 80px;
    position: center;
    float: left;
    height: 200px;
    width: 25%;
    padding: 15px;
}

.menubox {
    position: center;
    float: left;
    height: 50px;
    width: 16.6667%;
    padding: 5px;
}




