<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Månedenskonkurence</title>
    <link rel="stylesheet" href="0-5sheet.css">
</head>
<body>
<div class="top-nav">
    <div class="menubox" align="center">
        <a href="/index">Hjem</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">0.-5. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">6.-10. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/highschool">Gymnasium</a>
    </div>
    <div class="menubox" align="center">
        <a href="/tips">Tips</a>
    </div>
    <div class="menubox" align="center">
        <a href="/about">Om os</a>
    </div>
</div>

<div class="header">
    <h1>Tegn og Vind</h1>
</div>

<div class="top-box">
    <div class="box" style="background-color: aquamarine" align="center">
        <div class="regelbox">
            <h2>Regler</h2>
            <ul class="regler">
                <li>0-5. Klasse</li>
                <li>slkdjfngliu</li>
                <li>tyujhgdg</li>
                <li>pduiafhglkadhfgl</li>
            </ul>
        </div>
        <div>
            <a target="_blank" href="præmie.png">
                <img src="præmie.png" alt="præmie" style="width:150px">
            </a>
        </div>
    </div>
    <div class="box" style="background-color: aqua" align="center">
        <div>
            <form method="post" enctype="multipart/form-data">
                <div class="infotext">
                    <p>Indtast et navn</p>
                    <p>Indtast en mail</p>
                    <p>Indtast et klassetrin</p>
                </div>
                <div class="infowrite">
                    <input type="text" name="gnavn"><br><br>
                    <input type="text" name="mail"> <br><br>
                    <input type="text" name="klassetrin"><br>
                </div>
            </form>
        </div>
        <div>
            <label for="file">Choose file to upload</label>
            <input type="file" id="file" name="file" accept="image/jpeg, image/png">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
</div>


<div class="footer-nav">
    <p>Adresse: Guldbergsgade 29N 2200 København N</p>
    <p>Telefon: +45 46 46 00 00</p>
    <p>Mail: <a href="mailto:Kea@Kea.dk">Madspild@Madspild.dk</a></p>
</div>
</body>
</html>