<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Månedenskonkurence</title>
    <link rel="stylesheet" href="0-5sheet.css">
</head>
<body>
<div class="top-nav">
    <div class="menubox" align="center">
        <a href="/index">Hjem</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">0.-5. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">6.-10. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/highschool">Gymnasium</a>
    </div>
    <div class="menubox" align="center">
        <a href="/tips">Tips</a>
    </div>
    <div class="menubox" align="center">
        <a href="/about">Om os</a>
    </div>
</div>

<div class="header">
    <h1>Tegn og Vind</h1>
</div>
<div>
    <h2>Regler</h2>
    <ul class="regler">
        <li>0-5. Klasse</li>
        <li>slkdjfngliu</li>
        <li>tyujhgdg</li>
        <li>pduiafhglkadhfgl</li>
    </ul>
</div>
<div class="aboxone">

    <img src="https://lh3.googleusercontent.com/proxy/7pKdDFjxzPreDMGjLkUv4sStjZQMF21hkheGyIFGBVQCA5uf1EV-yF4geh7MFi
    XfnbjKA-ZNIebjZ4qjT_WuzSmdmcjOP24JA_bgUhY9yMF-aZmA7xL7t8s"
         alt="Group" style="height:100%">
</div>
<div class="footer-nav">
    <p>Adresse: Guldbergsgade 29N 2200 København N</p>
    <p>Telefon: +45 46 46 00 00</p>
    <p>Mail: <a href="mailto:Kea@Kea.dk">Madspild@Madspild.dk</a></p>
</div>
</body>
</html>