<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
    <link rel="stylesheet" href="slidescript.css">
    <link rel="stylesheet" href="stylesheet.css">
    <script rel="text/javascript" src="slidescript.js"></script>
</head>
<body>

<div class="top-nav">
    <div class="menubox" align="center">
        <a href="/index">Hjem</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">0.-5. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">6.-10. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/highschool">Gymnasium</a>
    </div>
    <div class="menubox" align="center">
        <a href="/tips">Tips</a>
    </div>
    <div class="menubox" align="center">
        <a href="/about">Om os</a>
    </div>

</div>


<div class="top-box">
    <div class="box" style="background-color: aquamarine" align="center">
        <a href="/preschool">0.-5. Klasse</a>
    </div>
    <div class="box" style="background-color: aqua" align="center">
        <a href="/middleschool">6.-10. Klasse</a>
    </div>
    <div class="box" style="background-color: cornflowerblue" align="center">
        <a href="/highschool">Gymnasium</a>
    </div>
</div>

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://mst.dk/media/119204/odder-paa-graes.jpg?width=678" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://files.worldwildlife.org/wwfcmsprod/images/HERO_Red_Panda_279141/hero_full/7bkg4jrmln_XL_279141.jpg" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://files.worldwildlife.org/wwfcmsprod/images/Sleeping_red_panda_species_spotlight_279173/story_full_width/6q742cr2fv_WEB_279173.jpg" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

</body>
</html>