<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
    <link rel="stylesheet" href="StyleMiddleSchool6.-10.css">

</head>
<body>
<!--top-nav start#-->
<div class="top-nav">
    <div class="menubox" align="center">
        <a href="/index">Hjem</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">0.-5. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/middleschool">6.-10. Klasse</a>
    </div>
    <div class="menubox" align="center">
        <a href="/highschool">Gymnasium</a>
    </div>
    <div class="menubox" align="center">
        <a href="/tips">Tips</a>
    </div>
    <div class="menubox" align="center">
        <a href="/about">Om os</a>
    </div>
</div>
<!--top-nav end#-->

<div class="HaluårsKonurrere">
    <div class="box" style="background-color: aquamarine" align="center">
        <a href="/preschool">0.-5. Klasse</a>
    </div>
    <div class="box" style="background-color: aqua" align="center">
        <a href="/middleschool">6.-10. Klasse</a>
    </div>
</div>

<!--HaluårsKonurrere start#
<div class="HaluårsKonurrere">
    <h2>Calculate the total width:</h2>

    <div>The picture above is 350px wide. The total width of this element is also 350px.</div>

</div>
HaluårsKonurrere end#-->

<!--footer-nav start#-->
<div class="footer-nav">
    <footer>
        <p>Adresse: Guldbergsgade 29N 2200 København N</p>
        <p>Telefon: +45 46 46 00 00</p>
        <p>Mail: <a href="mailto:Kea@Kea.dk">Madspild@Madspild.dk</a></p>
    </footer>
</div>
<!--footer-nav end#-->


</body>
</html>